<div class="search-container">

        <form class="search-form" #form="ngForm" (ngSubmit)="onSubmit(form)">
         <span class="logo" routerLink="/">NGHJ</span>
         <input
         class="search-input"
         name = "search"
         ngModel
         placeholder="Search 50000+ games"
         />

    <button class="search-button"> Search</button> 
    </form>
      
</div>
