/* You can add global styles to this file, and also import other style files */
body{
    font-size: Roboto, "Helvetica Neue", "sans-serif";
    background: #151515;
    padding-top: 60px;
    height: 100%;

}

body *{
    font-size: Roboto, "Helvetica Neue", "sans-serif";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
